body, main, aside, nav{

    background: black;
	color: white;
    box-shadow:
         .2em .2em 1.5em .4em #0ff,
         inset .2em .2em .8em .4em #8b07b0;
}body{
    min-height: 100%;
    margin: 0;
	padding: 0;
    font-size: 18px;
}canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid blue;
}td{
    border-bottom: .1em solid #0ff;
}a{
	text-decoration: none;
	color:#9ff;
	border: .1em solid ##ba0098;
	padding: .8em;
}header{
	display: flex;
	justify-content: space-between;
	padding-left: 2em;
	border-top: .05em solid black;
	border-bottom: .5em ridge #330b5e;
	box-shadow: .2em .2em 1.5em .4em #8b07b0;
	background-color: #0f001f;
	padding-left: .35em;

}main, aside, nav{

	background: linear-gradient(to top right, #2e004d, #4c0061, #730082, #9700ab);
	opacity: 80%;
	background-color: #000;

	margin: .3em;
	padding: 1em;
}footer{
    position: fixed;
	background: #122;
	bottom: 0;
	width: 100%;
	border-top: .2em solid black;
    font-size: .75em;
}nav a[href=""] {
	background-color: #005873;
}nav a{
	max-width: 100%;
	margin: auto;
	background-color: #424;
}a:hover{
	transform: scale(1.1);
	background-color: #0ff;
	color: black;
}td:nth-child(even){
    background: ##003e47;
}main{
    padding-bottom: 20em;
}
@viewport{width:device-width}
@media screen and (min-width: 100em) {
    body {
        display: grid;
        grid-template-columns: 68% 32%;
        grid-template-rows: auto;
        grid-template-areas: "upper-top upper-top"
                             "lower-top lower-top"
                             "middle-left middle-right"
                             "bottom bottom"
    }header{
        grid-area: upper-top;
    }nav{
        grid-area: lower-top;
        border: 0;
    }main {
        grid-area: middle-left;
    }aside{
        grid-area: middle-right;
    }footer{
        grid-area: bottom;
        display: flex;
        justify-content: space-between;
	}
}
@media screen and (min-width: 120em){
    body{
        display: grid;
        grid-template-columns: 14% 62% 24%;
        grid-template-rows: auto;
        grid-template-areas: "upper-top upper-top upper-top"
                             "middle-left middle-middle middle-right"
                             "bottom bottom bottom"
    }header{
        grid-area: upper-top;
    }nav{
        grid-area: middle-left;
    }main{
        grid-area: middle-middle;
		padding-top: 2em;
    }aside{
        grid-area: middle-right;
    }footer{
        grid-area: bottom;
    }nav ul {
		padding: 1em;
		display: block;
	}nav a{
		display: flex;
		wrap: wrap-bottom;
	}main, aside, nav{
	    padding-bottom: 40em;
	}
}