body, main, aside, nav{
	font-family: Verdana, Tahoma, Garamond, Arial Black;
	background-color: #374a45;
	color: #fff;
}#splashScreen{
	position: fixed;
	/*position: absolute; */
	top: 0; 
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 200;
	line-height: 10em;
	text-align: center;
	background-color: #000;
	color: #fff;
}@keyframes fade {
	from {
		opacity: 0;}
	to {
		opacity: 1;}
}.fade{
	/*opacity: 0;*/
	animation: fade 2.5s 1;
}
