body, main, aside, nav{
	font-family: Verdana, Tahoma, Garamond, Arial Black, Garuda;
}#splashScreen{
	position: fixed;
	/*position: absolute; */
	top: 0; 
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	line-height: 50vh;
	text-align: center;
	background-image: radial-gradient(circle, #ddd7, #eee6, #fff5, #fff4, #fff3, #fff2);
	color: #fff;
}@keyframes fade {
	from {
		opacity: 0;}
	to {
		opacity: 1;}
}.fade{
	/*opacity: 0;*/
	animation: fade 2.5s 1;
}nav{
	display: none;
}
