body, main, aside, nav{
	background-color: #374a45;
	color: #fff;
}#splashScreen{
	/*position: fixed;*/
	position: absolute; 
	top: 0; 
	left: 0;
	width: 100vw;
	hieght: 100vh;
	text-align: center;
	background-color: #000;
	color: #fff;
}
